[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-bridge-contracts"]
	path = token-bridge-contracts
	url = https://github.com/OffchainLabs/token-bridge-contracts.git
	branch = reverse-bridge-2
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/openzeppelin-contracts-v5"]
	path = lib/openzeppelin-contracts-v5
	url = https://github.com/openzeppelin/openzeppelin-contracts
