cache/
out/
.vscode
.idea
node_modules/
artifacts/
typechain-types
cache_hardhat/
localNetwork.json
localNetworkNova.json
.env
.envrc
files/local/deployedContracts.json
files/local/network.json
files/local/networkNova.json
files/local/arbTransferAssetsTXs.json
files/local/novaTransferAssetsTXs.json
files/local/l1ArbProtocolTransferTXs.json
files/local/l1ArbTokenBridgeTransferTXs.json
files/local/l1NovaProtocolTransferTXs.json
files/local/l1NovaTokenBridgeTransferTXs.json
dist/
report/
lcov.info
lcov.info.pruned
types/
proposalState.json
