cache/
out/
.vscode
.idea
node_modules/
artifacts/
typechain-types
cache_hardhat/
localNetwork.json
localNetworkNova.json
.env
.envrc
deployedContracts.json
./files/local/network.json
./files/local/novaNetwork.json
