cache/
out/
.vscode
.idea
node_modules/
artifacts/
typechain-types
cache_hardhat/
localNetwork.json
localNetworkNova.json
.env
.envrc
files/local/deployedContracts.json
files/local/network.json
files/local/networkNova.json
files/local/arbTransferAssetsTXs.json
files/local/novaTransferAssetsTXs.json
files/local/asset-transfer/
files/goerli/asset-transfer/
files/mainnet/asset-transfer/
